<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Movie Trailers</h1>
    <p class="lead text-muted">Search your favorite movie trailers</p>
    <div class="form-label-group text-left">
      <input id="search" type="email" [(ngModel)]="service.query" class="form-control" placeholder="Search your favorite movie trailers" autofocus="" (keyup)="query$.next($event.target.value)">
      <label for="search">Search your favorite movie trailers</label>
    </div>
  </div>
</section>

<section class="container">
  <ngb-progressbar *ngIf="loading" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
  <div *ngIf="!loading">
    <div class="card-columns" *ngIf="movies?.length > 0">
      <a class="card mb-4 box-shadow" *ngFor="let movie of movies" routerLink="/movie/{{ movie.id }}">
        <img class="card-img-top" [src]="movie.poster" alt="{{ movie.title }}">
        <div class="card-body">
          <h4 class="card-text">{{ movie.title }}</h4>
          <div class="d-flex justify-content-between align-items-center" *ngIf="movie.rating">
            <small class="text-muted">{{ movie.year }}</small>
            <ngb-rating [(rate)]="movie.rating" readonly="true"></ngb-rating>
          </div>
        </div>
      </a>
    </div>
    <div class="text-center" *ngIf="movies?.length === 0">
      <p>No movies found... :(</p>
    </div>
  </div>

</section>
